.header {
    padding: 16px;
    background-color: rgb(233, 233, 233);
    border: 1px solid darkgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    font-size: 20px;
    color: #333;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
}

.toast {
    margin-top: 12px;
}